*{
	padding: 0px;
	margin: 0px;
}

body, h1. h2, h3, h4, h5, h6, span, div, article, section, aside, hgroup, header, footer {
	display: block;	
}

body{
	display: block;
	width: 100%;
	margin: 0px auto;
	background: url(../search_images/bk.png) repeat;
}

#mainwrapper{
	display: -webkit-box;
	margin: 0px auto;
	-webkit-box-orient: horizontal;
	max-width: 1080px;
	margin: 0px auto;	
}

#shadowrap{
		-webkit-box-shadow: 0px 0px 20px black;
		box-shadow: 0px 0px 20px black;
		position: relative;
		top: 35px;
}

#sidebar{
	position: relative;
	left: 0px;
	top: 0px;
	width: 220px;
	border-top: 1px solid grey;
	border-right: 2px solid grey;
	display: -webkit-box;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-shadow: 2px 4px 5px black;
	bottom: 50px;
	background: url(../search_images/grey-repeating-background-8.jpg) repeat;
}
.search_display {
}
#search_display{
	position: relative;
	top:0;
	bottom: 0;
	display: -webkit-box;
	-webkit-box-flex:1;
	display: block;
	height: auto;
	margin: auto;
}

#search_display::-webkit-scrollbar{
	width: 15px;
}

#search_display::-webkit-scrollbar-track{
	background-color: #333;
}

#search_display::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
}
#search_display::-webkit-scrollbar-button {
      background-color: #F60;
}
#search_display::-webkit-scrollbar-corner {
      background-color: black;
}
.searchbox{
	display: -webkit-box;
	position: relative;
	width: 194px;
	height: 30px;
	color: rgba(0,0,0,0.5);
}
#search{
	border-left: 10px solid #222;
	width: 184px;
	-webkit-box-align: left;
	-webkit-box-align: left;
	border-bottom: 0px solid #09F;
	border-top: 0px solid #09F;
	border-right: 0px solid #09F;
	padding-left: 5px;
}
.searchbar{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -webkit-box;
	-webkit-box-orient: horizontal;	
	}
	

	
#search_butt{
	color: black;
	padding: 5px;
	border-top: 0px solid #09F;
	border-right: 0px solid #09F;
	background: white;
}
header{
	position: relative;
	max-width: 1080px;
	margin: 0px auto;
}

#headwrapper{
	display: -webkit-box;
	-webkit-box-orient: vertical;	
	max-width: 1080px;
	margin: 0px auto;
}
.search_option{
	padding: 10px;	
	background: rgba(0,0,0,0);
	color: white;
	border-left: 10px solid rgba(0,0,0,0.7);
	border-bottom: 1px solid #999;
	height: 20px;
}

.search_option:hover{
	border-left: 15px solid rgba(0,0,0,0.7);
	background: rgba(0,0,0,0.4);
}

#searchimg{
 	width:12px;
	height: 12px;
}
#searchimg:hover{
	opacity: 0.7;					
}

.footer{
	position: relative;
	bottom: 0px;
	display: block;
	margin: 0 auto;
	padding: 14px;
	height: 300px;
	background: center url(../search_images/footer2.png) rgba(60, 60, 60, 1);
	top: 36px;
	z-index: -999999999;
	box-shadow: 0px 0px 30px black;
}

.footer_holder{
	color: #000;
	max-width: 1080px;
	margin: 0px auto;
	
}

.copyright{
	font-family: Tahoma, Geneva, sans-serif;
	float: right;
	font-size: 12px;
	display: -webkit-box;
	width: 350px;
	right: 20px;
	text-align: center;
	-webkit-box-pack: center;
	color: #AAAAAA;
}

.myname{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	font-size: 24px;
	margin-left: 10px;
}
.Usama{
	font-style:italic;
	color: orange;
	font-size: 26px;
}

.Hashmi{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #DDDDDD;
}

#header_setup{
	display: flex;
	-webkit-box-flex: 1;
	-webkit-box-orient: horizontal;
	height: 100px;
	margin: 0px auto;
	max-width: 1080px;
}
.logo{
	display: -webkit-box;
}
.time{
	display: -webkit-box;
	display: -webkit-box;
	font-size: 48px;
	color: #333;
	position: absolute;
	right: 0;
	top: 60px;
}

.header_icons{
	display: block;
	-webkit-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	margin-bottom: 5px;
}

.header_icons ul{
	display: -webkit-box;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-flex: 1;
	-webkit-box-orient: horizontal;
	-webkit-box-flex: 1;
	margin: 0px auto;
	background:white;
	height: 20px;
	color: #333;
	font-family:Arial, Helvetica, sans-serif;
	-webkit-transition: top 1s;
	position: relative;
	max-width: 1080px;
	-webkit-box-pack: center;
	-webkit-box-pack: center;
}

.header_icons ul li{
	display: -webkit-box;
	display: -webkit-box;
	font-size: 18px;
	-webkit-box-flex: 1;
	-webkit-box-pack: center;
	-webkit-box-flex: 1;
	-webkit-box-pack: center;
}

.header_icons ul #last{
	padding-right: 32px;
}
.header_icons ul:hover{
	box-shadow: 0px 0px 5px black;
	
}

.clear{
	display: block;
	width: auto;
	-webkit-box-flex: 1;
	-webkit-box-flex: 1;	
}


#display{
	display: -webkit-box;
	background: white;
	-webkit-box-orient: vertical;
	}
#hdisplay{
	display: -webkit-box;
	background: white;
	-webkit-box-orient: vertical;
	}

.video{
	display: inline-block;
	border: 1px solid #000;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 10px;
	border-radius: 15px;
	padding: 5px;
}
.video:hover img{
	opacity: 0.9;
}

.video:hover{
	-webkit-box-shadow: 0px 0px 15px #333;	
	border: 1px solid #333;
}

#video_section{
	display: -webkit-box;
	z-index: 100000;
}


.shader{
	display: -webkit-box;
	position: fixed;
	top: 0px;
	margin: 0px auto;
	width: 80px;
	left: 0;
	right: 0;
	-webkit-box-shadow: inset 0px 0px 10px #333;
	-webkit-box-pack:center;
	border-radius: 15px;
	background: #CF0;
}

.search_option_open{
	display: none;
	height: 20px;
	padding: 10px;
	border-left: 10px solid #333;
	border-right:  1px solid black;
	border-bottom:  1px solid black;
	-webkit-box-flex: 1;
	-webkit-transition: border-left 0.51s, display 1s;
		-webkit-box-flex: 1;
	-webkit-transition: border-left 0.51s, display 1s;
	color: #333;
	text-decoration: none;
	-webkit-transition: padding-left .21s, border-left .21s, color .21s;
	-webkit-transition: padding-left .21s, border-left .21s, color .21s;
	text-transform: capitalize;
	z-index: 200000;
}

.search_option_open:hover{
	background: #333;
	color: white;
	border-left: 10px outset white;
	padding-left: 20px;
}

.search_option:hover .search_option_open{
	display: -webkit-box;
}

.ul{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	background: white;
	color: black;
	position: relative;
	left: 197px;
	top: -31px;
}

div .alt_image { 
display:none; 
}

ul a{
	color: orange;
	text-decoration: none;
	margin: 0px;
}

ul li{
	background: #333;	
	height: 30px;
	padding-top: 6px;
}

li:hover #a{
	color: #DDDDDD;
}
li:hover{
	background: black;	
}


li:active #a{
	color: #AAAAAA;
}
li:active{
	background: black;	
}

.show_on_click{
	display: none;
}

.videobox{
	display: none;
	margin: 0px auto;
	background: rgba(0,0,0,0.8);
	position: fixed;
	left: 200px;
	right: 0px;
	top: 90px;
	bottom: 0px;
	width: 100%;
	height: 100%;
}

#video_section h1, #news_section h1{
	background: #333;
	color: white;
	padding-left: 20px;
	font-family: !Y2KBUG, "10.15 Saturday Night BRK", "11S01 Black Tuesday", "1980 Portable", "Alte Caps";
	font-style: normal;
	}
	
	#news_container{
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		margin: 9px;
	}
	#news_section{
		display: block;
		width: 100%;	
	}
	
	
.title{
	width: 160px;
	color: white;
	word-wrap:break-word;
	margin: 0px auto;
	text-align: center;
	background: #333;
	-webkit-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
	border: 1px solid black;
}


.videoset_container{
	margin: 2px;
	display: inline-table;
}

.videoset_container:hover .title{
		-webkit-box-shadow: 0px 0px 12px black;
		-webkit-box-shadow: 0px 0px 12px black;
}

.voverlay{
	text-decoration: none;
	color: #333;
}
.videoset_container:hover .voverlay{
	opacity: 0.8;
}

.suggestion{
	display: -webkit-box;
	position: fixed;
	right: -200px;
	border: 1px solid black;
	-webkit-transition: right 0.9s;
	-webkit-transition: right 0.9s;
	width: 200px;
	top: 75%;
	padding: 5px;
	z-index: 200;
}

.suggestion form{
	display: -webkit-box;
	display: -webkit-box;
	position: relative;
	left: -150px;	
}
.suggestion:hover{
	right: 0px;
}

.open{
	position: relative;
	left: -99px;
	top: 45px;
	width: 152px;
	padding-bottom: 8px;
	padding-left: 5px;
	padding-right: 5px;
	height: 20px;
	-webkit-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	background: #333;
	color: white;
	font-family:"Times New Roman", Times, serif;
	font-size: 25px;
}
.gallery {
    position:relative;
	top: 10px;
	height: 330px;
}
.gallery IMG {
	display: block;
	height:320px;
	position: absolute;
    z-index:-2;
    opacity:0;
	width: auto;
}
.gallery IMG.active {
    z-index:0;
    opacity:1;
}
.gallery IMG.last-active {
    z-index:-1;
}
#latest{
	display: -webkit-box;
	display: -webkit-box;
	background: white;
	color: #333;
	margin: 0px auto;
	-webkit-box-flex: 1;
	max-width: 1080px;
	width: auto;
}

.instruct{
	display: block;
	background: white;
	margin: 0px auto;
}

amainwrapper{
	display: -webkit-box;
	display: -webkit-box;
	-webkit-box-orient: vertical;	
	-webkit-box-orient: vertical;	
	max-width: 1080px;
	margin: 0px auto;
}

.sug_response{
	display:-webkit-box;
	display:-webkit-box;
	position: relative;
	margin: auto;
	left: 0px;
	right: 0px;
	bottom: 45%;
	top: 45%;
	width: 150px;
	height: 25px;
	padding-top: 4px;
	-webkit-box-pack: center;
	background: #9C0;
	color: #333;
	font-family: "MS Serif", "New York", serif;
}

.respholder{
	display: none;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.ad{
	display: none;
	width: 300px;
	height: 200px;
	background: rgba(0,0,0,0.4);
	border: 1px solid #999999;
	z-index: 20;
	-webkit-transition: width 1s, height 1s;
}

.ad:hover{
	width: 600px;
	height: 400px;
	}

#a1{
	position: fixed;
	left: 0px;
	top: 0px;
}

#a2{
	position: fixed;
	left: 0px;
	top: 250px;
}
#a3{
	position: fixed;
	left: 0px;
	top: 500px;
}
#a4{
	position: fixed;
	left: 0px;
	top: 750px;
}
#a5{
	position: fixed;
	right: 0px;
	top: 0px;
}
#a6{
	position: fixed;
	right: 0px;
	top: 250px;
}

#a7{
	position: fixed;
	right: 0px;
	top: 500px;
}

.check{
	position: fixed;
	background: black;
	color: red;
}

	#chatpanel{
		display: block;
		position:fixed;
		bottom: 0px;
		height: 40px;
		background: rgba(0,0,0,0);
		width: 100%;
		left: 0px;
		right: 0px;
		box-shadow: 0px 0px 30px #333;
		opacity: 1;
	}
	#center{
		display: block;
		margin: 0 auto;
		width: 100%;
		max-width: 1080px;
		background: #222222;
		height: 30px;
		margin-top: 5px;
		box-shadow: 0px 0px 30px #333;
	}
	#chatsss{
		width: 90px;
		float: right;
		height: 20px;
		background: #FFF;
		margin: 3px;
		padding: 2px;
		cursor: pointer;
	}
	#chatshow{
		position: relative;
		display: none;
		z-index: 4;
		border: 2px solid #F00;
		box-shadow: 0px 0px 30px black;
		background:#FFF; 
		width: 500px; 
		height:710px; 
		border:none; 
		overflow:auto;
		top:-725px;
		right:-575px;
		padding-top:6px;
	}
	#chatshow iframe{
		border: 2px solid black;
		box-shadow: 0px 0px 450px black;
	}