/* the overlayed element */
#voverlay {
	
	/* growing background image */
	background-image:url(white.png);
	
	/* dimensions after the growing animation finishes  */
	width:640px;
	height:480px;
	
	/* initially overlay is hidden */
	display:none;
	
	/* some padding to layout nested elements nicely  */
	padding:35px;
}

/* default close button positioned on upper right corner */
#voverlay .close {
	background-image:url(close.png);
	position:absolute;
	left:5px;
	top:5px;
	cursor:pointer;
	height:30px;
	width:30px;
}

#voverlay .vcontainer{
	left:0;
	top:0;
	width:100%;
	height:100%;	
	background:url(loading.gif) no-repeat 50% 50%;
}


#voverlay .vcontainer div{
	opacity: 0;
}
