	#mainwrapper{
		display: block;
		background: white;
		width: 100%;
		height: 100%;
	}	
	#user{
		background: #333;
		border: none;
		width: 100%;
		height: 30px;
		padding-left: 15px;
		margin-bottom: 10px;
		color: #888888;
	}
	
	#pass{
		background:#333;
		border: none;
		width: 100%;
		height: 30px;
		padding-left: 15px;
		color: #888888;
	}
	
	#formholder{
		display: block;
		background: orange;
		width: 350px;
		height: 20%;
		position: absolute;
		left: 0px;
		right: 0px;
		margin: auto;
		top: 0px;
		bottom: 0px;
		padding: 50px;
	}
	#login{
		border: none;
		width: 100%;
		height: 30px;
		margin-top: 10px;
	}
	form a{
		color:#09F;
		text-decoration:none;
	}